<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>
    <!--react-->
    <script src="/Scripts/react/react.js"></script>
    <script src="/Scripts/react/react-dom.js"></script>
    <script src="/Scripts/Browser.min.js"></script>

    <style>
        body {
            background: url(../../Images/fileds.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
   <div>
       <div id="container"></div>

       <script src="/Scripts/React/Components/components.js"></script> 
   </div>
</body>
</html>
